1. Write a program to print numbers from 1 to 10, but stop if the number is 5.

In [1]:
for num in range(1, 11):
    if num == 5:
        break
    print(num)

1
2
3
4

2. Write a program to iterate through a list and stop when encountering a specific element.

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
stop_element = 5
for element in my_list:
    if element == stop_element:
        print(f"Stopped at element: {element}")
        break
    print(element)

1
2
3
4
Stopped at element: 5

3. Write a program to skip printing even numbers from 1 to 10.

In [3]:
for num in range(1, 11):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9

4. Write a program to print numbers from 0 to 9 using range().

In [4]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

5. Write a program to print multiplication tables from 1 to 5, but stop after the first table is printed for each
number.

In [8]:
for i in range(1, 6):
    if i == 1:
        print(f"Multiplication Table for {i}:")
        for j in range(1, 11):
            print(f"{i} x {j} = {i * j}")
        break

Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

6. Write a program to skip printing even numbers using a while loop.

In [7]:
num = 1
while num <= 50:
    if num % 2 == 0:
        num += 1
        continue
    print(num)
    num += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49