1. Print numbers from 1 to 5 using a while loop.

In [ ]:
num=1
while num<=5:
  print(num)
  num += 1

2. Calculate the sum of numbers from 1 to 10 using a while loop.

In [ ]:
num = 1
total = 0
while num <= 10:
    total += num
    num += 1

print("Sum of numbers from 1 to 10:", total)

3. Calculate the factorial of a number using a for loop.

In [ ]:
n = int(input("Enter a number to find its factorial: "))
factorial = 1

for i in range(1, n + 1):
    factorial *= i

print(f"The factorial of {n} is {factorial}")

4. Count the number of vowels in a string using a for loop.

In [4]:
input_string = "Hello, how are you?"
vowels = "aeiouAEIOU"
vowel_count = 0

for char in input_string:
    if char in vowels:
        vowel_count += 1

print(f"Number of vowels in the string: {vowel_count}")

Number of vowels in the string: 7

5. Print a pattern using nested loops.

In [5]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

6. Generate a multiplication table using nested loops.

In [7]:
number = 5

for i in range(1, 6):
    for j in range(1, 6):
        print(f"{i} x {j} = {i * j}")
    print("-" * 15)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
---------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
---------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
---------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------------