In [ ]:
#Convert an integer to a floating-point number
a = int(input("Enter an integer:"))
a = float(a)
print("A floating point number is", a)

Enter an integer:8
A floating point number is 8.0

In [ ]:
#2. Convert a float to an integer.
b=float(input("Enter any floating number:"))
b=int(b)
print("The integer is",b)

Enter any floating number:8.9
The integer is 8

In [ ]:
#3. Convert an integer to a string.
a=int(input("Enter an integer:"))
a=str(a)
print("The given string is", a)
print(type(a))

Enter an integer:65
The given string is 65
<class 'str'>

In [ ]:
#4. Convert a list to a tuple.
list =[7,4,"Even", 56]
list=tuple(list)
print(type(list))
print(list)

<class 'tuple'>
(7, 4, 'Even', 56)

In [ ]:
#5. Convert a tuple to a list.
tup =(7,4,"Even", 56)
my_list = list(tup)
print( type(my_list))
print(my_list)

TypeError: 'tuple' object is not callable

In [ ]:
#6. Convert a decimal number to binary.
a=int(input("Enter any decimal number:"))
a=bin(a)
print(type(a))
print(a)

Enter any decimal number:12
<class 'str'>
0b1100

In [ ]:
#7. Convert a non-zero number to boolean.

n=int(input("Enter any non-zero number: "))
n=bool(n)
print(type(n))
print(n)

Enter any non-zero number: 1
<class 'bool'>
True